<div  id="car1" class="col-md-3" style="float:left; background: #F7F8EC!important;">
        <div  id="car1" class="card mb-2">
          <img id="car1" class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
           <div id="car1" class="card-body">
            <p id="car1" class="card-text">Superficie</p> 
            <p id="car1" class="card-text">Servicios</p>
            <p id="car1" class="card-text">Localidad</p>
            <p id="car1" class="card-text">Rígeme de propiedad </p>
            <p id="car1" class="card-text">Frente y Fondo</p>
            <a id="car1" div="boron" class="btn btn-primary"><img src="Logos/Encorazona.png" alt="Me_Encorazona" width="30px" height="30px"/></a>
          </div>
        </div>
      </div>