{%load static%}

<div  id="car1" class="col-md-3" style="float:left">
        <div id="car1" class="card mb-2">
          <img id="car1" class="card-img-top"
            src="{{ inmueble.photo.url }}" alt="Card image cap">
           <div id="car1" class="card-body">
            <p id="car1" class="card-text">Superficie: {{ inmueble.surface }}</p> 
            <p id="car1" class="card-text">Uso de suelo: {{ inmueble.uso_suelo }}</p>
            <p id="car1" class="card-text">Régimen de propiedad: {{ inmueble.regimen_propiedad }}</p>
            <p id="car1" class="card-text">Frente: {{ inmueble.front }}</p>
            <p id="car1" class="card-text">Fondo: {{ inmueble.bottom }}</p>
            <a  id="car1" div="boron" class="btn btn-primary"><img src="{% static "logos/Encorazona.png"%}" alt="Me_Encorazona" width="30px" height="30px"/></a>
          </div>
        </div>
      </div>