{% extends "base.html" %}

{% block head_content %}
<title>Ofrece tu predio</title>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">¡Ofrece tu predio!</h4>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" name="user" value="{{ user.pk}}" />
                    <input type="hidden" name="profile" value="{{ profile.pk }}" />

                    {# Website field #}
                    <div class="form-group">
                        <label>Superficie del inmuble:</label>
                        <input
                            class="form-control {% if form.surface.errors %}is-invalid{% endif %}"
                            type="number"
                            min="1" 
                            step = "0.0000000001"
                            name="surface"
                            placeholder="Superficie"
                            value="{{form.surface.value}}"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.surface.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Frente:</label>
                        <input
                            class="form-control {% if form.front.errors %}is-invalid{% endif %}"
                            type="number"
                            min="0.1" 
                            step = "0.0000000001"
                            name="front"
                            placeholder="Frente"
                            value="{{form.front.value}}"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.front.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fondo:</label>
                        <input
                            class="form-control {% if form.bottom.errors %}is-invalid{% endif %}"
                            type="number"
                            min="0.1" 
                            step = "0.0000000001"
                            name="bottom"
                            placeholder="Fondo"
                            value="{{form.bottom.value}}"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.bottom.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Precio por m2:</label>
                        <input
                            class="form-control {% if form.price.errors %}is-invalid{% endif %}"
                            type="number"
                            min="0.1" 
                            step = "0.0000000001"
                            name="price"
                            placeholder="Precio por m2"
                            value="{{form.price.value}}"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Precio total:</label>
                        <input
                            class="form-control {% if form.totalprice.errors %}is-invalid{% endif %}"
                            type="number"
                            min="0.1" 
                            step = "0.0000000001"
                            name="totalprice"
                            placeholder="Precio total"
                            value="{{form.totalprice.value}}"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.totalprice.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {% comment %} <input type="hidden" name="totalprice" value="{{ (profile.pk)* }} " /> {% endcomment %}

                    
                    <div class="form-group">
                    <label>Descripcion:</label>
                    <textarea
                        class="form-control {% if form.description.errors %}is-invalid{% endif %}"
                        name="description"
                    ></textarea>

                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            {{ error }}
                        {% endfor%}
                    </div>
                    </div>

                    {# Photo field #}
                    <div class="form-group">
                        <label>Escoje la foto de tu inmueble:</label>
                        <input
                            class="form-control {% if form.photo.errors %}is-invalid{% endif %}"
                            type="file"
                            name="photo"
                            placeholder="photo"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.photo.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}