{%  extends "users/base.html" %}
{% block head_content %}
{% load static%}
<title>Terrenos Panoramicos | Registrarse</title>
{%endblock %}


{% block container %}


    {% comment %} {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Nombre de Usuario" name="username" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Contraseña" name="passwd" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Confirmar contraseña" name="passwd_confirmation" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Nombre(s)" name="first_name" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Apellido Paterno" name="last_name" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Apellido Materno" name="last_nameMa" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="email" placeholder="Correo Electronico" name="email" required="true" />
        </div>

        <button class="btn btn-primary btn-block mt-5" type="submit">Registrate!</button>

    </form> {% endcomment %}
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary btn-block mt-5" type="submit">Regístrate!</button>

{%endblock%}